.purple-bg {
	background-color: purple;
}
img.img-height {
	height: 400px;
}
.img-height {
	height: 300px;
	object-fit: cover;
}
/* header styles */
/* header {
	width: 100%;
}
@media (max-width: 1024px) {
	header {
		position: fixed;
	}
}
@media (max-width: 768px) {
	header {
		background-color: red;
	}
} */

/* section styles */

/* footer styles */
/* footer {
	background-color: blue;
}

@media (max-width: 1024px) {
	footer {
		display: none;
	}
} */
